:root{
    --texto: #1C1C1C;
    --color-boton: #ccffcb;
    --blanco: #fff;
    --color-hero-alt: #cefdff;
    --fondo-alt: #F2EEE9;
    --color-logo: #2D4A5C;
 
 
/* FUENTES Y TITULOS */
    --fuente-titulo: Georgia, "Times New Roman", serif;
    --fuente-texto: "sans-serif", arial
 
/* ESPACIADO CONVERSION 1REM=10PX*/
    --esp-xs: 0.8rem;
    --esp-sm: 1.6rem;
    --esp-md: 2.4rem;
    --esp-lg: 4.0rem;
    --esp-xl: 8.0rem;
 
/* OTROS ELEMENTOS */
    --radio: 0.6rem;
    --sombra-1: 0 0.2rem 0.6rem rgba(0,0,0,0.6);/* APENAS SEPARADO */
    --sombra-2: 0 0.4rem 1.2rem rgba(0,0,0,0.10);/* TARJETAS */
    --sombra-3: 0 0.8rem 2.0rem rgba(0,0,0,0.16);/* ELEMENTOS ELEVADOS*/
    --transition: all 0.25s ease;
    --ancho-max: 120rem;
 
/* GRID */
    --grid: repeat(auto-fit, minmax(28rem, 1fr));
 
/* FLEX */
    --flex: 1 1 28rem;
}
 
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html{
    font-size: 62.5%;
}
 
body{
    font-size: 1.6rem;
    line-height: 3;
    font-family: var(--fuente-texto);
    color: var(--texto);
    text-align: center;
}
 
img{
    width: 100%;
    height: auto;
    display: block;
}
 
a { color: var(--color-logo); text-decoration: none;}

h1 { font-size: 4rem;} h2 { font-size:3rem;} h3 {font-size: 2rem;}
p { font-size: 1.6rem; margin-bottom: 1.6rem;} 


/*cabecera*/
#cabecera {
    max-width: var(--ancho-max);
    background-color: var(--fondo-alt);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 2rem;
    gap: var(--esp-md);
    font-size: 2rem;
    color: var(--texto);
    justify-content: space-between;
    padding: 1rem auto;
}

.navegacion ul li:hover {
 background-color: var(--color-boton);
 padding: 1rem auto;
 border-radius: var(--radio);
}

#bienvenida a{
    padding: 2rem;
    border: 3px solid var(--color-logo);
    border-radius: 10rem;
    color: var(--texto);
    margin-top: 5rem;
}

#bienvenida a:hover{
    background-color: var(--color-logo);
    color: var(--blanco);
    padding: 2rem;
}
#servicios {
    background-color: var(--fondo-alt);
    max-width: var(--ancho-max);
    margin: auto;
}

.destacado {
    padding: 3rem 3rem;
}

.bloque {
    background-color: var(--blanco);
    border:1px solid #2D4A5C;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
    gap: 1rem;
    margin: 3rem;
    max-width: auto;
}



#principal

#servicios
#origen
#nota
#pie


.identidad
.navegacion

.destacado-texto
.accion
.accion-primaria
.bloques-servicio

.bloque-nota
.testimonio
.testimonio-autoria
.recuadro-nota
.contenido-pie
.direccion
.derechos
